.CompanyView {
    padding: 0px 20px 60px 20px;
    margin: 20px 0px 0px 0px;
    height: 83.5%;
    display: inline-block;
    max-width: 62.5%;
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
}

.CompanyViewInfo {
    width: 60%;
    padding: 50px 0 0 60px;
    margin: 0px;
    text-align: left;
    display: inline-block;
    overflow: visible;
    position: relative;
}

.CompanyViewInfo h4 {
    margin: 20px 0 0 0;
}

.CompanyViewMedia {
    width: 40%;
    height: 90%;
    margin-top: 40px;
    float: right;
}

.CompanyImageWrapper {
    width: 100%;
    height: 63%;
    padding: 30px 10px 0px 40px;
}

.CompanyViewButtons {
    width: 100%;
    height: 30%;
    float: right;
}

.CompanyView .tooltipwrapper {
    top: 4px;
    left: 200px;
    max-height: 17px;
}

.backArrow {
    width: 22px;
    position: relative;
    top: 3px;
    left: 35px;
    opacity: .3;
    transition: .2s;
}

.backArrow:hover {
    opacity: 1;
    cursor: pointer;
}

.CompanyView textarea {
    visibility: hidden;
    position: absolute;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    max-width: 100%;
    margin: 2px 0px 0px 0px;
}

#companyName {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

#doneButton {
    visibility: hidden;
}

.CompanyView button {
    position: absolute;
    bottom: -60px;
    right: 0px;
    height: 30px;
    width: 69px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    color: black;
    background: #C0C0C0;
    font-family: 'Lato', sans-serif;
    transition: .3s;
}

.CompanyView button:hover {
    background: #D0D0D0;
}

#note {
    min-width: 100%;
}