html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#root, .App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.row {
  height: 100%;
  margin: 0px;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*Global*/
h1, h2, h3, p, span {
  margin: 0px;
  color: black;
  font-family: 'Lato', sans-serif;
}

/* Tooltip container */
.tooltipwrapper {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltipwrapper .tooltiptext {
  visibility: hidden;
  width: 30px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -15px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltipwrapper .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipwrapper:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}