.TweetBoxWrapper {
    height: 80%;
    position: relative;
}

.TweetBox {
    min-height: 250px;
    max-height: 450px;
    width: 200px;
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    margin: auto;
}

.twitter-embed{
    max-height: 450px;
    overflow: scroll;
    overflow-x: hidden;
}