.CreateTempAdmin {
    margin: 0px;
    padding: 20px;
    max-width: 800px;
}

.CreateTempAdmin h2 {
    margin: 25px 0px 10px 0px;
    letter-spacing: 1px;
    font-size: 24px;
}

.CreateTempAdmin input {
    margin: 20px 0px 10px 0px;
    padding: 0px 10px;
    height: 40px;
    width: 232px;
    border: 1px solid black;
    border-radius: 2px;
    background: white;
    color: black;
    font-family: 'Lato', sans-serif;
}

.CreateTempAdmin button {
    height: 40px;
    width: 200px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    position: relative;
    left: -5px;
    color: black;
    background: #C0C0C0;
    font-family: 'Lato', sans-serif;
    transition: .3s;
}

.CreateTempAdmin button:hover {
    background: #D0D0D0;
}

.CreateTempAdmin .backArrow {
    width: 22px;
    position: relative;
    top: 0px;
    left: -5px;
    opacity: .3;
    transition: .2s;
    margin: 10px;
}

.CreateTempAdmin .backArrow:hover {
    opacity: 1;
    cursor: pointer;
}