/*TaskBar*/

.TaskBar {
    height: 60px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    text-align: left;
    background-color: #003057;
    border-bottom: 1px solid #002046;
    vertical-align: middle;
    position: relative;
}

.appIcon {
    height: 78%;
    width: 192px;
    margin: 5px 10px;
    filter:  brightness(0.9) invert(.7) sepia(.5) hue-rotate(0deg) saturate(500%)
}

.loginButton {
    margin: 14px 30px;
    float: right;
    height: 28px;
    width: 68px;
    text-decoration: none;
    border: none;
    border-radius: 1px;
    color: white;
    background: #001b31;
    font-family: 'Lato', sans-serif;
    transition: .3s;
}

.loginButton:hover {
    background: #00233f;
}

.profileWrapper {
    min-width: 5%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 30px;
    top: 5px;
    bottom: 5px;
    margin: 5px 0px;
    padding: 6px 3px;
    border-radius: 3px;
    border: 1px solid #000f1b;;
    background: #001b31;
}

.profileWrapper:hover {
    border: 1px solid silver;
    cursor: pointer;
}

.profIconWrapper {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.profIcon {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.usernameWrapper {
    display: inline-block;
    height: 100%;
    padding: 4px 4px;
    font-weight: 600;
    font-size: 12px;
    vertical-align: top;
}

.downArrowWrapper {
    display: inline-block;
    height: 100%;
    padding: 0px 0px;
    vertical-align: top;
    text-align: right;
    color: white;
}

.downArrow {
    width: 21px;
    height: 21px;
    filter: invert(1);
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    top: 16px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
    color: black;
    font-size: 13px;
    font-weight: 550;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #dfdfdf}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dropbtn {
    color: white;
}