/*TaskBar*/

.TaskBar {
    height: 60px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    text-align: left;
    background-color: #E8E8E8;
    border-bottom: 1px solid silver;
    vertical-align: middle;
    position: relative;
}

.appIcon {
    height: 78%;
    width: 192px;
    margin: 5px 10px;
}

.loginButton {
    margin: 14px 30px;
    float: right;
    height: 28px;
    width: 68px;
    text-decoration: none;
    border: none;
    border-radius: 1px;
    color: black;
    background: #C0C0C0;
    font-family: 'Lato', sans-serif;
    transition: .3s;
}

.loginButton:hover {
    background: #D3D3D3;
}

.usernameWrapper {
    width: 10%;
    height: 90%;
    background: red;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 20px;
    top: 0px;
    bottom: 0px;
    border-radius: 2px;
}